body {
  background-color: #f5f0e6;
}

ul li {
  margin-bottom: 8px;
  font-size: 1.1em;
}

ul li a {
  color: #d4af37;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: underline;
}
/* Exclusive background for Contact page */
