body {
  background-image: url('/virtual-garage/images/ferrari/ferrarihtml.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #fdf6e3;
}

/* Banner */
img[src*="VirtualGarage.png"] {
  width: 350px;
  height: 350px;
}

/* Contenedor azul */
.contenedor-azul {
  background-color: rgba(204, 229, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}